<div class="row" style="margin-top:10px">
  <div class="col-sm-6 col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-success pull-right">Granted</span>
        <h5>New Subscribers</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">{{grantedPermission | number:0}}</h1>
        <div class="stat-percent font-bold text-navy">
          {{grantedPermission * 100 / askedPermission | number:2}}%
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-danger pull-right">Denied</span>
        <h5>Permission Denied</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">{{deniedPermission | number:0}}</h1>
        <div class="stat-percent font-bold text-navy">
          {{deniedPermission * 100 / askedPermission | number:2}}%
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-success pull-right">Views</span>
        <h5>Notification Views</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">{{views | number:0}}</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-primary pull-right">Clicks</span>
        <h5>Notification Clicks</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">{{clicks | number:0}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper animated fadeInUp">
      <div class="ibox">
        <div class="ibox-title">
          <h5>HTML5 Notifications</h5>

          <a class="pull-right" href="http://www.connecto.io/kb/knwbase/connecto-getting-started-with-html5-chrome-push-notifications/" target="_blank">
            Getting Started Instructions
          </a>
        </div>
        <div class="ibox-content">
          <button class="btn m-b btn-md btn-primary" ui-sref="createHtml5Notification">
            + Add New HTML5 Notification
          </button>

          <div class="project-list">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Notification Title</th>
                  <th>Views</th>
                  <th>Clicks</th>
                  <th></th>
                  <th class="project-actions">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="notification in html5Notifications | orderBy: '-_id'">

                  <td class="project-title">
                    <button class="btn btn-success btn-sm" ng-click="startSending(notification)">
                      Send Now
                    </button>
                  </td>

                  <td class="project-title">{{notification.name}}</td>
                  <td class="project-title">{{analyticsSummary[notification._id].views}}</td>
                  <td class="project-title">{{analyticsSummary[notification._id].clicks}}</td>
                  <td class="project-actions">
                    <button class="btn btn-link" ng-click="testSend(notification)">
                      Test Send
                    </button><br/>
                    <button class="btn btn-link" ng-click="sendToTag(notification)">
                      Send to Tags
                    </button>
                  </td>
                  <td class="project-actions">
                    <div class="input-group-btn" dropdown style="width:100%; float:right;">
                      <a tabindex="-1" class="btn btn-success btn-sm" type="button"
                        ui-sref="editHtml5Notification({html5NotificationId: notification._id})">
                        <i class="fa fa-pencil">&nbsp;Edit</i>
                      </a>
                        <button class="btn btn-success btn-sm dropdown-toggle" type="button"><span class="caret"></span></button>
                        <ul class="dropdown-menu" style="width:100%; min-width:10px;">
                          <li>
                            <a ng-click="deleteHtml5Notification(notification)" class="btn btn-sm" >
                              <i class="fa fa-fw fa-trash fa-sm">&nbsp;Delete</i>
                            </a>
                          </li>
                        </ul>
                    </div>
                  </td>
                  <!-- <td class="project-actions">
                    <div class="input-group-btn" dropdown style="width:100%; float:right;">
                      <a tabindex="-1" class="btn btn-success btn-sm" type="button"
                        ui-sref="html5NotificationAnalytics({html5NotificationId: notification._id})">
                        <i class="fa fa-pencil">&nbsp;Analytics</i>
                      </a>
                    </div>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
    </div>
 </div>
  <!-- <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
              <h3>New Suscribers</h3>
              </div>
          </div>
          <div class="col-lg-6" ng-show="osPieChartData[1]">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>OS Distribution</h5>

                      <div ibox-tools></div>
                  </div>
                  <div class="ibox-content">
                      <div class="flot-chart">
                          <div flot class="flot-chart-content" dataset="osPieChartData[1]" options="pieOptions"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6" ng-show="browserPieChartData[1]">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>Browser Distribution</h5>

                      <div ibox-tools></div>
                  </div>
                  <div class="ibox-content">
                      <div class="flot-chart">
                          <div flot class="flot-chart-content" dataset="browserPieChartData[1]" options="pieOptions"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
              <h3>Permission Denied</h3>
              </div>
          </div>
          <div class="col-lg-6" ng-show="osPieChartData[2]">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>OS Distribution</h5>

                      <div ibox-tools></div>
                  </div>
                  <div class="ibox-content">
                      <div class="flot-chart">
                          <div flot class="flot-chart-content" dataset="osPieChartData[2]" options="pieOptions"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6" ng-show="browserPieChartData[2]">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>Browser Distribution</h5>

                      <div ibox-tools></div>
                  </div>
                  <div class="ibox-content">
                      <div class="flot-chart">
                          <div flot class="flot-chart-content" dataset="browserPieChartData[2]" options="pieOptions"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
              <h3>Requested Permission</h3>
              </div>
          </div>
          <div class="col-lg-6" ng-show="osPieChartData[6]">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>OS Distribution</h5>

                      <div ibox-tools></div>
                  </div>
                  <div class="ibox-content">
                      <div class="flot-chart">
                          <div flot class="flot-chart-content" dataset="osPieChartData[6]" options="pieOptions"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6" ng-show="browserPieChartData[6]">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>Browser Distribution</h5>

                      <div ibox-tools></div>
                  </div>
                  <div class="ibox-content">
                      <div class="flot-chart">
                          <div flot class="flot-chart-content" dataset="browserPieChartData[6]" options="pieOptions"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>

 -->
