<div class="modal-body">
  <div class="ibox-content">
    <h3><strong>Send to Tags - {{pushNotification.title}}</strong></h3>

    <hr>
    <div class="row">
      <h4>Comma separated list of tags to send notification to:</h4>
    </div>
    <div class="row">
      <div class="col-md-4 text-right">
        <small>Case sensitive</small>
      </div>
      <div class="col-md-8">
        <textarea class="form-control" ng-model="tags" />
      </div>
    </div>

    <div class="alert alert-success" ng-show="successMessage">
      {{successMessage}}
    </div>

    <div class="alert alert-danger" ng-show="failureMessage">
      {{failureMessage}}
    </div>

  </div>
</div>
<div class="modal-footer">
  <button type="button" ng-hide="pushNotification" class="btn btn-primary" ng-click="sendHtml5()">Send</button>
  <button type="button" ng-show="pushNotification" class="btn btn-primary" ng-click="sendPush()">Send</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
