<style type="text/css">
    .explain {
    border: 1px solid #536571;
    width: 300px;
    background-color: rgba(27, 20, 20, 0);
    border-radius: 4px;
    height: auto;
    color: #ffffff;
    position: absolute;
    padding: 6px 6px 6px 6px;
    margin-top: 22px;
    margin-left: 20px;
    background-color: #536571;
    z-index: 199999999;
  }
</style>
<div class="row">
  <div class="wrapper wrapper-content">
    <div class="alert alert-warning" ng-show="dateRangeFlag">
      <strong>Attention!</strong> Please specify a date range within the last 3 months.
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-6 col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><span ng-mouseover="var1=true" ng-mouseleave="var1=false">Identified Events</span></h5>
              <span class = "explain" ng-show="var1">Number of events from identified users in the specified timeframe</span>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{identifiedEventCount | number:0}}</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><span ng-mouseover="var2=true" ng-mouseleave="var2=false">Anonymous Events</span></h5>
              <span class = "explain" ng-show="var2">Number of events from anonymous users in the specified timeframe</span>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{anonymousEventCount | number:0}}</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><span ng-mouseover="var4=true" ng-mouseleave="var4=false">Events By Device</span></h5>
                <span class = "explain" ng-show="var4">Number of events from different devices</span>

                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Device</th>
                        <th>Count</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="data in polarDataDevice">
                        <td>{{data.label}}</td>
                        <td class="text-navy">{{data.value}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><span ng-mouseover="var5=true" ng-mouseleave="var5=false">Events By OS</span></h5>
                <span class = "explain" ng-show="var5">Number of events from different operating systems (displaying only top 5 counts)</span>

                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>OS</th>
                        <th>Count</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="data in polarDataOs">
                        <td>{{data.label}}</td>
                        <td class="text-navy">{{data.value}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5><span ng-mouseover="var6=true" ng-mouseleave="var6=false">Events across domains</span></h5>
              <span class = "explain" ng-show="var6">Common visitors across domains (displaying only top 20 counts)</span>

              <div ibox-tools></div>
          </div>
          <div class="ibox-content">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Domain</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="data in polarDataCrossDomain">
                      <td>{{data.label}}</td>
                      <td class="text-navy">{{data.value}}</td>
                    </tr>
                  </tbody>
              </table>
          </div>
        </div>        
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><span ng-mouseover="var7=true" ng-mouseleave="var7=false">Events By Device</span></h5>
            <span class = "explain" ng-show="var7">Graphical representation of events from different devices</span>
            <div ibox-tools ></div>
          </div>
          <div class="ibox-content">
            <div>
              <canvas polarchart options="polarOptions" data="polarDataDevice" height="140" legend="true" responsive=true></canvas>
            </div>
          </div>
        </div>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><span ng-mouseover="var8=true" ng-mouseleave="var8=false">Events By OS</span></h5>
            <span class = "explain" ng-show="var8">Graphical representation of events from different operating systems(displaying only top 5 counts)</span>
            <div ibox-tools></div>
          </div>
          <div class="ibox-content">
            <div>
              <canvas polarchart options="polarOptions" data="polarDataOs" height="140" legend="true" responsive=true></canvas>
            </div>
          </div>
        </div>
       <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><span ng-mouseover="var9=true" ng-mouseleave="var9=false">Events across domains</span></h5>
            <span class = "explain" ng-show="var9">Graphical representation of common visitors across domains (displaying only top 20 counts)</span>
            <div ibox-tools ></div>
          </div>
          <div class="ibox-content">
            <div>
              <canvas polarchart options="polarOptions" data="polarDataCrossDomain" height="140" legend="true" responsive=true></canvas>
            </div>
          </div>
        </div>    
      </div>
    </div>
    <div class="col-lg-8" id="real_events">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><span ng-mouseover="var10=true" ng-mouseleave="var10=false">Sample Events</span></h5>
          <span class = "explain" ng-show="var10">sample events in the last 24 hrs</span>
        </div>
        <div class="ibox-content inspinia-timeline">
          <div class="timeline-item" ng-repeat="event in events">
            <div class="row">
              <div class="col-xs-4 date" style="width:33%;">
                <i style="width:70px;"><span class="label label-warning">{{event.eventType | uppercase}} </span></i>
                <br>At {{event.timestamp}}<br>
                <small class="text-navy">{{event.timeago}} ago</small>
              </div>
              <div class="col-xs-8 content">
                <div class="media-body fadeInUpBig" ng-class="{'animated' : $first}">
                  <strong class="text-info"
                          ui-sref="event_profiles({eventText: event.text})">
                    {{event.text}}
                  </strong>
                    by user
                  <strong>
                    <span ui-sref="profile_events({profileId: event.profileId})"
                          style="cursor:pointer; text-decoration:underline;">
                      {{event.profileId}}
                    </span>
                  </strong>.
                  <br>
                  on <strong>{{event.channel}}</strong>
                  from <strong>{{event.osName}}</strong>
                  <br><br>
                  <div ng-repeat="attribute in event.attributes">
                    <a class="btn btn-xs btn-white">&nbsp;{{attribute.key}}&nbsp;:&nbsp;{{attribute.value}}&nbsp;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>